{% import "_macros.html" as macros %}
{% extends 'layout.html' %}

{% block meta %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site_data.site_url }}/{{ page.image }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site_data.site_url }}/{{ page.image }}">
{% endblock %}

{% block content %}

    <section class="content">
        <article class="single">
            <header>
                <h1>{{ page.title_html|safe }}</h1>
                <div class="meta">
                    {% if page.draft %}
                    <span class="notice">DRAFT</span>
                    {% endif %}
                </div>
            </header>
            <div class="body">
                {{ page.html|safe }}
            </div>
        </article>
    </section>

{% endblock %}
