{% import "_macros.html" as macros %}
{% extends 'layout.html' %}

{% block meta %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:image" content="{{ site_data.site_url }}/{{ post.image }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.description }}">
    <meta name="twitter:image" content="{{ site_data.site_url }}/{{ post.image }}">
{% endblock %}

{% block content %}

    <section class="content">
        <article class="single">
            <header>
                <h1>{{ post.title_html|safe }}</h1>
                <div class="meta">
                    {% if post.draft %}
                    <span class="notice">DRAFT</span> |
                    {% endif %}
                    {{ post.published_at.strftime('%m.%d.%Y') }} |
                    <a href="{{ post.category.url }}">{{ post.category.name }}</a>
                </div>
            </header>
            <div class="body">
                {{ post.html|safe }}
            </div>
        </article>
    </section>
{% endblock %}
