{% import "_macros.html" as macros %}
{% extends 'layout.html' %}

{% block meta %}
    <title>{{ site_data.site_name }} - {{ post.title }}</title>
    <meta property="og:url" content="{{ site_data.current_url }}">
    <meta property="og:site_name" content="{{ site_data.site_name }}">
    <meta property="description" content="{{ post.description }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:image" content="{{ site_data.site_url }}/{{ post.image }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.description }}">
    <meta name="twitter:image" content="{{ site_data.site_url }}/{{ post.image }}">
{% endblock %}

{% block content %}

    <section class="content">
        <article class="single">
            <header>
                <h1>{{ post.title_html|safe }}</h1>
                <div class="meta">
                    {% if post.draft %}
                        <span class="notice">DRAFT</span> ·
                    {% endif %}

                    <img class="avatar" src="/assets/avatar.png" /> ·
                    {{ post.published_at.strftime('%m.%d.%Y') }} ·
                    <a href="{{ post.category.url }}">{{ post.category.name }}</a>
                </div>
            </header>
            <div class="body">
                {{ post.html|safe }}
            </div>
        </article>
    </section>

    <script>
        [...document.querySelectorAll('h2')].forEach((el) => {
            let link = document.createElement('a');
            link.href = `#${el.id}`;
            link.innerText = '𝄋';
            link.classList.add('anchor');
            el.appendChild(link);
        });
    </script>
{% endblock %}
